{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block content %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>NomClient</th>
                <td>{{ client.nomClient }}</td>
            </tr>
            <tr>
                <th>AdresseClient</th>
                <td>{{ client.adresseClient }}</td>
            </tr>
            <tr>
                <th>TelephoneClient</th>
                <td>{{ client.telephoneClient }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ client.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>PrenomClient</th>
                <td>{{ client.prenomClient }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_client_index') }}">back to list</a>

    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
